<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.de_ichiraku">

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.De_ichiraku"
        tools:replace="android:theme">
        <activity
            android:name=".AdminActivity.AdminNewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity.CompleteFinalOrderActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity.Explore"
            android:exported="false" />
        <activity
            android:name=".UserActivity.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.De_ichiraku.NoActionBar" />
        <activity
            android:name=".AdminActivity.AdminCategory"
            android:exported="false" />
        <activity
            android:name=".AdminActivity.AdminAddProduct"
            android:exported="false" />
        <activity
            android:name=".AddUser"
            android:exported="false" />
        <activity
            android:name=".ManageOtp"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>